.place__link {
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    line-height: 22px;
    text-decoration-line: underline;
    max-width: 456px;
    margin: 0;
    margin-top: 12px;
}

.place__link:hover {
    opacity: 0.8;
}